/* ------------------------------------------------

    Projet - Ecommerce
    Tom Delaunay
    La Manu - 2020/2021

------------------------------------------------ */

/* ------------------------------------------------

    Ce fichier sert à modifier le CSS
    de la page Panier du site.

------------------------------------------------ */


.cart-priceTTC p::after,
.cart-subtotalTTC p::after,
#cart-totals-subTotal::after,
#cart-totals-delivery::after,
#cart-totals-totalsHT::after,
#cart-totals-totalsTTC::after {
    content: " €";
}


#cart-totals {
    height: fit-content;
}


.cart-supp {
    font-size: 1.5rem;
    cursor: pointer;
}


